header{
    height:300px;
    justify-content:flex-start;
    align-items:flex-start;
    background-image: url(./img/bg-navbar.jpg);
    background-size: cover;
}

.menuLateralEInput{
    width: 100%;
}

#nav-info {
    display: flex;
}

#nav-info i, h3 {
    margin:0 20px;
}

.input-search{
    width: 500px;
    height: 40px;
}

 
/* navbar */
.navbar-nav{
    display: flex;
    justify-content: space-between !important;
    height: 50px;

}

.noticias{
    flex-wrap: wrap;
}

.cardzinhos{
    justify-content: space-between;
}

#cards-body{
    display: flex;
}

#cards-body section{
    margin: auto;
}

.card-icons{
    width: 55px;
    height: 55px;
}

.card-text{
    font-size: 12px;
    width:80px;
}

 .search-icon{
    position:absolute;
    right: 10%;
    margin-top: 10px;
    margin-right: 10px;
} 

.gear-icon{
    position:absolute;
    right: 5%;
    
}

.btn-outline-secondary{
    width: 145px;
    height: 35px;
    margin-top:8px;
}

.search-icon-button i{
    position:absolute;
    right: 20%;
    margin-top: 20px;
    margin-right: 18px;

}

/* Carousel */


.carrouseel{
    width: 550px !important;
    height: 350px !important; 
}

.carousel-img img{
    width: 550px !important;
    height: 350px !important; 
    border-radius: 12px;
}


/* cards */
    .icons-cards i{
        float: right;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        
    }

#card-previsaodotempo{
    background-color:rgb(41, 77, 185)
}

.btn-previsao{
    border-radius: 15px;
}