header{
    width: 100%;
    height:300px;
    justify-content:flex-start;
    align-items:flex-start;
    background-image: url(./img/bg-navbar.jpg);
    background-size: cover;
}



#nav-info {
    display: flex;
}

#nav-info i, h3 {
    margin:0 20px;
}

.input-search{
    width: 700px;
    height: 50px;
}

 
/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    height: 50px;

}

#cards-body{
    display: flex;
}

#cards-body section{
    margin: auto;
}



.card-icons{
    margin:auto;
}



.search-icon{
    position:absolute;
    right: 25%;
    margin-top: 13px;
    margin-right: 10px;
}

.gear-icon{
    position:absolute;
    right: 5%;
    
}

.btn-outline-secondary{
    width: 145px;
    height: 35px;
    margin-top: 15px;
}

.search-icon-button i{
    position:absolute;
    right: 10%;
    margin-top: 26px;
    margin-right: 10px;
}

/* Carousel */
.bg-carousel{
    width:550px ;
    height:350px ; 
}

.carousel-img{
    width: 550px;
    height: 350px; 

}

.carousel-img img{
    border-radius: 10px;   
}

/* cards */
.icon-cardmercearia i{
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    
}

#card-previsaodotempo{
    background-color:rgb(54, 94, 216)
}

.btn-previsao{
    border-radius: 15px;
}